.letter {
    display: inline;
    margin: 0;
    font-size: 16px;
}

.space {
    width: .5em;
    display: inline-block;
}

.text {
    color: black;
}

.lineBreak {
    display: block;
}

.for {
    color: purple;
}

.function {
    color: blue;
}

.if {
    color: purple;
}

.else {
    color: purple;
}

.return {
    color: purple;
}

.let {
    color: rgb(3, 3, 119);
}

.const {
    color: rgb(3, 3, 119);
}

.true {
    color: rgb(3, 3, 119);
}

.false {
    color: rgb(3, 3, 119);
}