.textArea {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--white);
    // background-color: red;
    overflow: scroll;
    // z-index: -1;
}