@import '../../../App.scss';

.textOptions {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 100%;
    margin: 0; 
    background-color: var(--red);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 30% 30%;
    justify-content: space-around;
}

.option {
  margin-top: 20px;
  height: 50%;
  width: 50%;
  border-radius: 20px;
}

.option:hover {
  background-color: var(--empRed);
}

.Selected {
  background-color: var(--empRed);;
}


.charOptions {  
  margin: 10px;
  display: flex;
  grid-column: 1 / 2;
  height: 100%;
  justify-content: center;
}

.fontOption {
  margin: 10px;
  display: flex;
  grid-column: 2 / 3;
  height: 50%;
  justify-content: center;
}

.font {
  background-color: var(--empRed);
  width: max-content;
}

.fontSize {
  width: 30px;
  background-color: var(--empRed);
}

.fontColor {
  background-color: var(--empRed);
}

.foptions {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.box {
  margin: 0;
  width: 15%;
  height: 40%;
  padding-top: 5px;
}



.paragraphOptions {
  margin: 10px;
  display: flex;
  grid-column: 3 / 4;
  height: 100%;
  justify-content: center;
}