.App {
  text-align: center;
}

html {
  --black: #1d2325;
  //--bluegreen: #177F75;
  --bluegreen: #2190b5;
  //--bluegreen: #17637d;
  --empBlueGreen: #22b9aa;
  --lightBlue: #57bee0;
  --white: #FEFFFF;
  --red: #B6212D;

}