.App {
  text-align: center;
}

html {
  --black: black;
  --empBlack: #3f4c50;
  //--bluegreen: #177F75;
  --bluegreen: #2190b5;
  //--bluegreen: #17637d;
  --empBlueGreen: #22b9aa;
  --lightBlue: #57bee0;
  --white: #FEFFFF;
  --red: #c44f55;
  --empRed: #d1757a;

  overflow: hidden;

}